.searchInput {
    width: 300px;
    outline: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px 0;
    padding-left: 6px;
}

.labelSearch {
    margin: 16px 0 8px 0;
}